{% extends "base.html" %}
{% block title %}Ajouter un document{% endblock %}
{% block content %}
<h1>Ajouter un document</h1>
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="nom">Nom du document</label>
        <input type="text" class="form-control" id="nom" name="nom" required>
    </div>
    <div class="form-group">
        <label for="chemin">Fichier</label>
        <input type="file" class="form-control" id="chemin" name="chemin" required>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
{% endblock %}